<h2>Edit the skill: {{skill.title}}</h2>

<form action="/skills/{{skill._id}}/edit" method="post">
  <label> Title:
    <input type="text" name="title" value="{{skill.title}}" />
  </label>

  <label> Category:
     <select class="form-select" aria-label="Default select example" name="category">
    <option value="Creative">Creative</option>
    <option value="Technical">Technical</option>
    <option value="Communication">Communication</option>
    <option value="Lifestyle">Lifestyle</option>
    <option value="Professional">Professional</option>
  </select>
  </label>

  <label> Location:
    <input type="text" name="location" value="{{skill.location}}" />
  </label>

  <label for="description"> Description:
  <textarea name="description" id="description" rows="4" cols="50" required>{{skill.description}}</textarea>
</label>

  <button>Save changes</button>
</form>

<form action="/action_page.php" method="POST" enctype="multipart/form-data">
  <input type="file" id="myFile" name="filename">
  <input type="submit" value="Upload">
</form>