<section class="skill-details">
    <h2>{{this.title}}</h2>
    <p>
        Category: {{this.category}} <br />
        Location: {{this.location}} <br />
        Description: {{this.description}} <br />
    </p>
       <img src="{{this.photoURL}}">
</section>

<a href="/skills">Back</a>