<div class="container ">
<h4>List of skills</h4>
<hr>


     

<div class="row">
{{#each skills}}
<div class="col-sm-3">
        <div class="card">
          <img src="{{this.photoURL}}"  />
            <h5 class="card-title"> Your skill:{{this.title}}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary"> Category: {{this.category}}</h6>
            <h6 class="card-subtitle mb-2 text-body-secondary"> Location :{{this.location}}</h6>
       <p class="card-text"> Description: {{this.description}} </p>
      
    

 
      <form action="/skills/{{this._id}}/delete" method="POST">
        <button  class="btn btn-warning">Delete</button>
      </form>


    <form action="/skills/{{this._id}}/edit" method="GET">
        <button  class="btn btn-warning">Edit</button>
      </form>
  



    <!-- Comment form -->
    <form  method="POST" action="/skills/{{this._id}}/comment">
      <input type="text" name="text" placeholder="Add a comment" />
      <button class="btn" type="submit">Submit Comment</button>
    </form>



    <!-- Like button -->
    <form method="POST" action="/skills/{{this._id}}/like">
      <button class="btn bg-danger" type="submit"><i class='bi bi-heart'></i></button>
    </form>



    <!-- Display number of likes -->
    <p>Likes: {{this.likes.length}}</p>

    <!-- Display comments -->
    <h5>Comments:</h5>
    <ul>
      {{#each this.comments}}
        <li>{{this.text}} - by {{this.user.username}}</li>
      {{/each}}
    </ul>
</div>
</div>
{{/each}}
</div>
 </div>



